.Content3{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
}

.Form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.CardContainer{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    margin-bottom: 2%;
}

span{
    font-size: medium;
    color: gray;
}


/* Media queries for different browser sizes */
@media (min-width: 200px) and (max-width: 600px) {
    .CardContainer{
        width: 270px;
        margin-left: -35px;
    }

    .Form{
        margin-left: 30px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1399px) {
    .CardContainer{
        margin-left: -50px;
    }
  }
