.Header{
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Logo{
    height: 45px;
    margin-top: 10%;
    margin-right: 5px;
}

/* Media queries for different browser sizes */
@media (min-width: 200px) and (max-width: 600px) {
    #Logo{
        height: 30px;
    }

    .Header{
        width: 70px;
    }

  }
  
  @media (min-width: 600px) and (max-width: 1399px) {
    #Logo{
        height: 40px;
    }
  }
